<h1>Suppliers</h1>

<% @suppliers.each_slice(3) do |three_suppliers| %>
	<div class="row">
		<% three_suppliers.each do |supplier| %>
			<div class="col-md-4 index-box">
				<div class="well">
					<a href="/suppliers/<%= supplier.id %>">
						<h2><%= supplier.name %></h2>
						<h3><%= supplier.email %></h3>
						<h3><%= supplier.phone %></h3>
					</a>
				</div>
			</div>
		<% end %>
	</div>
<% end %>