// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1{
	text-align: center;
}

.box {
	p {
		color: red;
	}
}

.uniform {
	min-height: 230px;
}

.index-box {
	text-align: center;
}

// Image stuff

#box-image {
	width: 120px;
}

#show-image {
	width: 250px;
}

// Pricing 

.discount {
	color: red;
}

.everyday-price {
	color: black;
}

.alert {
	max-width: 450px;
	padding-left: 25px;
	text-align: center; 
}

