<h1>Make a new product:</h1>
<br /><br />

<%= form_tag "/products", method: :post do %>
	Product name: <input type="text" name="name">
	Price: <input type="text" name="price">
	Image: <input type="text" name="image">
	Description: <input type="text" name="description">
	In-stock: <input type="text" name="in_stock">
	Supplier ID: <input type="decimal" name="supplier_id">
	<input type="submit" value="Create">
<% end %>

<br /><br />

<%= form_tag "/products", method: :get do %>
	<input type="submit" value="Back to index">
<% end %>

<br /><br />