<h1>Edit Supplier</h1>
<br /><br />

<%= form_tag "/suppliers/#{@supplier.id}", method: :patch do %>
	Supplier name: <input type="text" name="name" value="<%= @supplier.name %>">
	Email: <input type="text" name="email" value="<%= @supplier.email %>">
	Phone: <input type="text" name="phone" value="<%= @supplier.phone %>">
	<input type="submit" value="Update">
<% end %>

<br /><br />