<h1>Add a new supplier:</h1>
<br /><br />

<div class="row">
	<div class="col-sm-3 col-centered text-center well">
		<div class="user-input-box">

			<%= form_tag "/suppliers", method: :post do %>
				<div>
					Supplier name: <input type="text" name="name">
				</div>

				<div>
					Email: <input type="text" name="email">
				</div>

				<div>
					Phone: <input type="text" name="phone">
				</div>

				<input type="submit" name="Add">
			<% end %>

		</div>
	</div>
</div>


<br /><br />

<div class="text-center">
	<%= form_tag "/suppliers", method: :get do %>
		<input type="submit" value="Back to index">
	<% end %>
</div>

<br /><br />